h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

table {
    border-width: 5px;
    border-color: #666666;
    padding: 8px;
}

pre {
    border-width: 7px;
    padding: 5px;
    border-color: #000000;
    background-color: #FF00FF;
}

a {
    text-decoration: none;
    color: #0000FF;
}

ul {
    list-style-type: upper-alpha;
}

li {
    margin: 10px;
}

li li {
    list-style-type: disc;
}

img {
    border-radius: 10px;
}

img:hover {
    opacity:0.5;
    filter: alpha(opacity=100);
}